.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_page .product_definition_frame {
  position: relative;

  width: auto;
  height: 932px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product_definition_frame .container {
  width: 1320px;
  height: 950px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product_definition_cp_wrapper {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content_right {
  width: 644px;
  height: 796px;

  display: flex;
  flex-direction: column;
}
.content_right p {
  margin-top: 70px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.zoom_top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 64px;
}
.threesome_photo {
  width: 257.68px;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 136px;

  display: flex;
  justify-content: space-between;
}

.threesome_photo img {
  width: 70px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}
.threesome_photo a.active {
  box-sizing: border-box;
  /* Bg / 1 */
  border: 2px solid rgb(68, 50, 151);
  border-radius: 6px;
  /* Bg / White */
  background: rgb(255, 255, 255);
}

.content_left {
  width: 644px;
  height: 796px;

  display: flex;
  flex-direction: column;
}
.content_left .header_top p {
  border-right: 2px solid rgb(234, 234, 234);
  padding-right: 10px;
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.header_top {
  display: flex;
  flex-direction: row;
}
.content_left .paragraphy {
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid rgb(234, 234, 234);
  padding-bottom: 10px;
}
.content_left strong {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
.product_information {
  width: 336px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product_information .paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.paragraph span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.buying_section {
  position: relative;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(234, 234, 234);
  border-bottom: 1px solid rgb(234, 234, 234);
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.buying_section .functions {
  width: 154px; /* Automatically adjust based on content */
  padding: 10px 20px; /* Add padding to ensure space for content */
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin-right: 23px;

  border: 1px solid rgb(234, 234, 234);
  border-radius: 60px;

  background: rgb(255, 255, 255);
}

.functions img {
  margin-right: 13px;
  margin-left: 10px;
  border-radius: 50%;

  background: rgb(243, 245, 246);
  box-sizing: border-box;

  width: 10px;
  height: 15px;
}

.functions button {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  box-sizing: border-box;
  /* Bg / 2 */
  border: 1px solid rgb(245, 195, 75);
  border-radius: 60px;
  /* Bg / 2 */
  background: rgb(245, 195, 75);
  cursor: pointer;
}
.heart_antena {
  display: flex;
  align-items: center;
}
.bottom_info_box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(234, 234, 234);
}
.bottom_info_box p {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.bottom_info_box .social_media_icons {
  width: 142px;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}
.bottom_info_box .social_media_icons span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.service_box_info {
  width: 567px;
  height: 24px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.service_boxes_info {
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
}
.service_boxes_info p {
  margin-left: 12px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.service_boxes_info a {
  text-decoration: underline;
}
.chosenp_description_frame {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chosenp_description_frame .container {
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.chosenp_category_top {
  width: 1320px;
  height: 45px;

  padding-top: 22px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(234, 234, 234);
  border-bottom: 1px solid rgb(234, 234, 234);
}
.chosenp_category_top p {
  margin-right: 60px;
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.chosenp_category_top p.active {
  padding-bottom: 17px;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid black; /* Creates a black underline */
  display: inline-block;
}
.chosenp_category_top_text {
  margin-top: 30px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.info_desctripto_frame {
  width: 948px;
  height: 585px;
}
.info_desctripto_frame .category_top strong {
  margin: 30px 0px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.info_desctripto_frame p {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.info_desctripto_frame li {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
