/* Header */
.home_page {
  display: flex;
  flex-direction: column;
}

/* category_top */
.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .category_top span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #041e42;
  text-transform: capitalize;
}

.container .category_top a {
  font-family: var(--font);
  margin-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
  text-transform: capitalize;
}

.container .category_top a:hover {
  border-bottom: 2px solid #041e42;
}
.container .next_prev_box {
  width: 25px;
}
.container .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
/* Pagination */
.container .pagination_box {
  margin-top: 3px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .pagination_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .pagination_main .pagination_dot {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
}
.pagination_main img {
  cursor: pointer;
}
.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  border-radius: 50%;
}
.container .pagination_dot .dot.active {
  border: 2px solid rgb(17, 33, 55);
}
.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background-color: #041e42;
  border-radius: 50%;
}
/* product_content_box */
.container .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.container .product_content_box .product_title {
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.container .product_content_box .product_desc {
  margin-top: 7px;
  height: 56px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  overflow: hidden;
}
.container .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container .review_box img {
  margin-right: 5px;
}
.container .review_box span {
  margin-left: 10px;
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.container .product_content_box .price_box {
  margin-top: 10px;
  width: 95px;
  height: 26px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .price_box strong {
  width: 60px;
  height: 26px;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.container .price_box span {
  margin-left: 10px;
  width: 25px;
  height: 22px;

  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

/* Header frame*/
.home_page .header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.header_frame .container {
  width: 1320px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 531px;

  background-color: #0053f6;
  background-image: url(../images/header_bg.svg);
  border-radius: 5px;
}
.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}
.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #ffffff;
}
.header_frame .header_content p {
  margin-top: 10px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
}
.header_frame .header_content img {
  position: absolute;
  right: 5px;
}
.header_frame .container .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}
.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_frame .box_left span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}
.header_frame .box_left p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #041e42;
}
.header_frame .box_left a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.container .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background: #041e42;
}
.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

/*Service_frame*/
.home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.service_frame .container {
  width: 1320px;
  height: auto;
  margin-top: 30px;
  flex-direction: row;
  display: flex;
}
.service_frame .container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}
.service_frame .service_box img {
  width: 35px;
  height: 35px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.service_frame .service_content span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #041e42;
}
.service_frame .service_content p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}

/*SHop Category Sectionx*/
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.shop_category_frame .container {
  flex-direction: column;
}
.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}
.shop_category_frame .category_box span {
  margin-top: 15px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}

/* Selling product */
.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.selling_product_frame .container {
  flex-direction: column;
}
.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1124px;
  height: 452px;
  margin-bottom: 65px;

  display: flex;
  flex-direction: row;
}
.selling_product_frame .product_boxes .product_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}
.selling_product_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.selling_product_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgb(0, 83, 246);

  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}

/* Adv_frame */
.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #adc4f8;
  color: rgb(0, 83, 246);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

/* Spec_product_frame */
.home_page .spec_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.spec_product_frame .container {
  flex-direction: column;
}
.spec_product_frame .container .spec_product_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}
.spec_product_frame .spec_product_wrapper .big_product_box {
  position: relative;
  width: 660px;
  height: 368px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background: rgb(243, 245, 246);
}
.spec_product_frame .big_product_box .big_product_content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.spec_product_frame .big_product_content span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.spec_product_frame .big_product_content p {
  margin: 7px 0px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
}
.spec_product_frame .big_product_content a {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.spec_product_frame .big_product_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}
.spec_product_frame .spec_product_wrapper .small_product_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  justify-content: center;
}
.spec_product_frame .small_product_wrapper .small_product_box {
  position: relative;
  width: 293.14px;
  height: 170px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background: rgb(243, 245, 246);
}
.spec_product_frame .small_product_box:nth-child(even) {
  margin-left: 30px;
}
.spec_product_frame .small_product_box img {
  position: absolute;
  margin-top: 30px;
  width: 85.6px;
  height: 107px;
  right: 5%;
}
.spec_product_frame .small_product_box strong {
  position: relative;
  margin-top: 25px;
  margin-left: 50px;

  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.spec_product_frame .small_product_box span {
  margin-top: 16px;
  margin-left: 50px;
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.spec_product_frame .small_product_box .photo_1,
.spec_product_frame .photo_2 {
  top: 25px;
}

/* Tv frame */
.home_page .tv_frame {
  position: relative;

  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tv_frame .container {
  flex-direction: column;
}
.tv_frame .container .tv_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tv_frame .tv_wrapper .tv_product_boxes {
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
}
.tv_frame .tv_product_boxes .tv_product_box {
  width: 260px;
  height: 452px;

  flex-direction: column;
  display: flex;
  align-items: center;
}
.tv_frame .tv_product_box .product img {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Event_frame */
.home_page .event_frame {
  position: relative;
  width: 100%;
  height: 632px;
  margin-top: 78px;

  background: url(/public/images/image\ 82.svg);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: #0053f6;
}
.event_frame .container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.event_frame .event_product_boxes {
  position: relative;
  width: 1300px;
  height: 392px;

  display: flex;
  flex-direction: row;
}
.event_frame .event_product_time_box {
  position: relative;
  width: auto;
  height: 392px;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  justify-items: center;
}
.event_frame .event_product_time_box span {
  position: relative;
  width: 304.19px;
  height: 40px;

  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}
.event_frame .event_product_time_box button {
  width: 141.79px;
  padding: 15px 35px 15px 35px;
  margin-top: 4px;

  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.event_frame .time_box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}
.event_frame .event_product_time_unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event_frame .event_product_time_unit strong {
  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}
.event_frame .event_product_time_unit p {
  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.event_frame .event_product_after_boxes {
  position: relative;
  display: flex;
  flex-direction: row;

  width: 950px;
  height: 390px;
  margin-left: 30px;
}
.event_frame .event_product_after_tech_box {
  width: 300.28px;
  height: 392px;
  margin-left: 10px;

  box-sizing: border-box;
  align-items: center;
  position: relative;

  flex-direction: column;
  display: flex;

  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}
